.github
.husky
.idea
database
*.sql
.editorconfig
.env.example
.gitattributes
auth.example.json
commitlint.config.js
docker-compose.yml
Dockerfile
LICENSE.md
package.json
phpcs.xml
README.md
SECURITY.md
wp-cli.yml
yarn.lock
node_modules
